.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-nav-right-box {
        display: flex;
        flex-direction: center;
        align-items: flex-end;
    }

    .contact {
        width: 310px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
        .contact-tel,
        .contact-email {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contact-icon {
            margin-right: 3px;
        }
    }

    .cart-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 10px 20px;

        background-color: whitesmoke;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
        transition: background-color 0.3s;
        border: 1px solid rgba(0, 0, 0, 0.226);

        .cart-icon {
            margin-left: 5px;
            font-size: 1rem;
        }
    }

    .cart-btn:hover {
        background-color: #2ecc707c;
    }
}

@media only screen and (max-width: 599px) {
    .top-nav {
        display: flex;
        flex-direction: column;

        .contact {
            display: none;
        }

        .cart-btn {
            border: transparent;
            background-color: transparent;
            box-shadow: none;

            position: absolute;
            top: 0;
            right: 0;
            &:hover {
                background-color: transparent;
                color: rgb(45, 122, 45);
            }
            .cart-span {
                display: none;
            }
            .cart-icon {
                font-size: 2rem;
            }
        }
    }
}

/* Średnie urządzenia (większe tablety) */
@media only screen and (min-width: 600px) and (max-width: 959px) {
    /* Tu dodaj style dla średnich urządzeń */
}

/* Duże urządzenia (laptopy, desktopy) */
@media only screen and (min-width: 960px) {
    /* Tu dodaj style dla dużych urządzeń */
}
