.file-input {
  display: none;
}

.example-viewport {
  height: 200px;
  width: 400px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

