.filtering {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;

    .filtering-box {
        display: flex;
        align-items: center;

        .slider-btn {
            margin: 0 20px;
            padding: 10px 10px;
            border: transparent;
            background-color: whitesmoke;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;
            &:hover {
                background-color: rgb(233, 233, 233);
            }
        }

        .slider {
            width: 300px;
            .slider-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .filtering-reset-btn {
            margin: 0 20px;
            padding: 10px 10px;
            border: 1px solid transparent;
            background-color: whitesmoke;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: rgb(233, 233, 233);
                transition: background-color 0.3s;
            }
        }
    }
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-label {
    margin-right: 10px;
}

.filter-select {
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 599px) {
    .filter-icon {
        position: absolute;
        left: 0;
        margin: 10px 20px;
    }

    .filtering {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        .filtering-box {
            display: flex;
            flex-direction: column;
        }

        .slider-btn {
            margin: 5px 0 !important;
        }
    }
}
