.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    background-color: whitesmoke;
}

.footer-content {
    width: 1260px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0px;

    .footer-section {
        .footer-icon {
            font-size: 1.1rem;
            margin-right: 5px;
        }

        .footer-contact {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        ul {
            list-style: none;

            li {
                a {
                    color: black;
                    font-weight: bold;
                    transition: color 0.3s;

                    &:hover {
                        color: rgb(46, 158, 46);
                    }
                }
            }
        }

        h2 {
            margin-bottom: 10px;
        }
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 599px) {
    .footer {
        .footer-content {
            margin: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            width: 90%;
            margin: 10px 0px;

            .footer-section {
                padding: 10px 0;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    .footer {
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            width: 90%;
            margin: 10px 0px;

            .footer-section {
                padding: 10px 30px;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1080px) {
    .footer {
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            width: 90%;
            margin: 10px 0px;

            .footer-section {
                padding: 10px 30px;
            }
        }
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1290px) {
    .footer {
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            max-width: 90%;
            margin: 10px 0px;

            .footer-section {
                padding: 10px 30px;
            }
        }
    }
}
