.footer-content {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;   
    margin: 10px 0px;
    .footer-section{
        ul {
            list-style: none;
            li {
                a{
                    color: black;
                    font-weight: bold;
                    transition: color .3s;
                &:hover{
                    color: rgb(46, 158, 46) ;

                }
                }
            }
        }
        
        h2{
            margin-bottom: 10px;
        }
    }
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;   
}
