.basket-summary {
  display: flex;
  flex-direction: column;
  width: 450px;
  .order-summary {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .summary-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid silver;
    margin: 5px 0;
    padding: 5px 10px;
    height: 110px;

    .summary-product-name {
      padding: 5px 0;
    }

    .summary-data {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .summary-img {
        width: 50px;
        padding-bottom: 5px;
      }
    }
  }

  .summary-price {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
    padding: 3px 0;
  }
}

@media only screen and (max-width: 599px) {
  .basket-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;

    .summary-price {
      padding: 8px 0;
    }
  }
}
