.nav-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);     
    z-index: 50;

    .navigation {
        a {
            padding: 10px 10px;
            color: black;
            transition: color .3s;
            font-weight: bold;
        }

        a:hover {
            color:rgb(45, 122, 45);           
            
        }
        .nav-down-icon{
            font-size: 1.2rem;
           
        }
        
        .sub-list {
            position: absolute;
            width: 200px;
            background-color: whitesmoke;
            border-radius: 4px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
            
            li {
                padding: 5px;
            }
            
            a {
                padding: 10px 2px;
                color: black;
                transition: color .3s;
            }
            
            a:hover {
          
                color:rgb(45, 122, 45);           
            }
        }

        .drop-category {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .sub-category {
            color: lime;
        }

        .main-category {
            color: black;
        }
    }
}

.active {
   
    color:rgb(46, 158, 46)   !important;
}

