.cart {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 0;
    flex-wrap: wrap;

    .cart-list {
        display: flex;
        flex-direction: column;
        min-width: 70%;
        .cart-item {
            display: flex;
            justify-content: space-between;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
            padding: 10px;
            margin: 5px 0;
            border-radius: 6px;
            transition: box-shadow 0.3s;
            &:hover {
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.534);
            }

            .cart-left-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cart-info {
                    display: flex;
                }

                .product-img {
                    height: 150px;
                    width: 150px;
                    object-fit: contain;
                }

                .product-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-left: 20px;
                    font-weight: bold;
                }

                .product-info > p {
                    font-weight: bold;
                    color: black;
                }

                .product-info span {
                    font-weight: bold;
                    color: rgb(110, 110, 110);
                }
            }

            .product-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .product-price {
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                .product-btn {
                    border: transparent;
                    background-color: transparent;
                    cursor: pointer;

                    .btn-icon {
                        font-size: 1.5rem;
                        transition: color 0.3s;
                        color: black;
                        &:hover {
                            color: tomato;
                        }
                    }
                }
            }
        }
    }
}

.summary-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    height: 175px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
    border-radius: 2px;

    .summary-desc {
        font-weight: bold;
        .summary-price {
            font-size: 1.1rem;
        }
    }

    .summary-btn {
        width: 258px;
        padding: 14px 30px;
        border: 1px solid transparent;
        background: rgb(46, 158, 46);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
        border-radius: 6px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        transition: box-shadow 0.3s;
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.301);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
        }
    }
    .summary-btn-disabled {
        width: 258px;
        padding: 14px 30px;
        border: 1px solid transparent;
        background: rgb(46, 158, 46);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
        border-radius: 6px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;

        transition: box-shadow 0.3s;
        background-color: silver;
        text-align: center;
        color: whitesmoke;
        pointer-events: none;
    }
}

.select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    &:hover {
        border-color: #888;
    }

    &:focus {
        border-color: #4d90fe;
        box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
    }

    .option {
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

@media only screen and (max-width: 599px) {
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cart-item {
            position: relative;
            display: flex;
            flex-direction: column;

            .product-img {
                height: 100px !important;
                width: 100px !important;
                object-fit: contain;
            }

            .product-right {
                padding-top: 10px;
                display: flex;
                flex-direction: row !important;
            }

            .select {
                margin-top: 10px;
                padding: 4px 12px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
            }
        }

        .summary-list {
            margin: 10px 0;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .summary-list {
            display: flex;
            align-items: center;
            margin: 10px 0;
            width: 50%;
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1090px) {
    .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .summary-list {
            display: flex;
            align-items: center;
            margin: 10px 0;
            width: 50%;
        }
    }
}
